.game .display .markets {
    /* Horizontal flexbox */
    display: flex;
    flex-direction: row;
    align-content: stretch;

    width: 100%;
    height: 100%;
}

.game .markets .list {
    width: var(--market-list-width);

    background: var(--surface-high);

    /* Vertical flexbox */
    display: flex;
    flex-direction: column;
    align-content: stretch;

    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;

    min-height: 0;
    overflow-y: auto;
}

.game .market {
    height: var(--market-height);

    /* Horizontal flexbox */
    display: flex;
    flex-direction: row;
    justify-content: stretch;

    padding-left: 10px;
    padding-right: 10px;

    transition-duration: 0.3s;

    cursor: pointer;

    background: var(--surface-high);
}

.game .market:hover {
    background: var(--surface-highest);
}

.game .market:active {
    background: var(--surface-bright);
}

.game .market .green-line {
    font-size: calc(var(--market-height) * 0.7);

    flex-grow: 0;
    flex-shrink: 0;
}

.game .market .info {
    /* Vertical flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex-grow: 1;

    gap: 5px;
}

.game .market .info .name {
    font-size: calc(var(--market-height) * 0.25);
    font-weight: bold;
}

.game .market .info .data {
    /* Horizontal flexbox */
    display: flex;
    flex-direction: row;
    justify-content: left;

    gap: 10px;

    font-size: calc(var(--market-height) * 0.15);
}

.game .market .info .data .material-icons {
    font-size: calc(var(--market-height) * 0.2);
}

.game .market .info .data div {
    /* Horizontal flexbox */
    display: flex;
    flex-direction: row;
    align-content: center;
}

.game .market.selected {
    background-color: var(--primary-container);
    color: var(--on-primary-container);
}

.game .market.selected:hover {
    background-color: var(--primary-container-hover);
}
.game .market.selected:active {
    background-color: var(--primary-container-active);
}

.game .markets .details-container {
    flex-grow: 1;

    padding: 10px;
}

.game .markets .details {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    gap: 10px;
}

.game .markets .chart {
    background: var(--surface);
    flex-grow: 1;

    padding: 20px;

    border-radius: 20px;
}

.game .markets .chart .title {
    font-size: 30px;
    font-weight: bold;

    text-align: center;
}

.game .markets .misc {
    flex-shrink: 0;
    flex-grow: 0;

    /* Horizontal flexbox */
    display: flex;
    flex-direction: row;
    align-content: stretch;
}

.game .markets .order-menu {
    width: var(--order-menu-width);

    border-radius: 20px;
    background: var(--surface);

    padding: 20px;


    /* Vertical flexbox */
    display: flex;
    flex-direction: column;
    align-content: stretch;

    gap: 10px;
}

.game .markets .order-menu .title {
    font-size: 25px;
    font-weight: bold;
}

.game .markets .order-menu .entry {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;

    gap: 5px;
}

.game .markets .order-menu input {
    font-size: 20px;
    padding: 10px;
    height: 40px;

    background: var(--surface-high);

    border: 1px rgba(var(--on-background-rgb), 0.6) solid;
    border-radius: 10px;
    outline: none;

    color: var(--on-background);

    transition-duration: 0.1s;
}

.game .markets .order-menu input:hover {
    background: var(--surface-highest);
}

.game .markets .order-menu input:focus {
    background: var(--surface-bright);
    border-width: 2px;
}