.game .display .population {
    flex-grow: 1;

    margin: 10px;

    /* Horizontal flexbox */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;

    overflow-y: scroll;

    gap: 10px;

    min-height: 0;
    max-height: 100%;
}

.game .display .fruit {
    width: var(--fruit-of-labour-size);
    height: var(--fruit-of-labour-size);

    background: var(--surface-high);

    border-radius: 10px;

    display: flex;
    flex-direction: row;
    align-content: center;

    transition-duration: 0.3s;
}

.game .display .fruit:hover {
    width: calc(var(--fruit-of-labour-size) + 2 * var(--fruit-icon-size));
    background: var(--surface-highest);
}

.game .display .avatar {
    width: var(--fruit-of-labour-size);
    height: var(--fruit-of-labour-size);

    flex-shrink: 0;
    flex-grow: 0;

    /* layered */
    position: relative;
}

.game .display .avatar img {
    position: absolute;
}

.game .fruit .io {
    /* Vertical flexbox */
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: center;
    gap: 5px;

    transition-duration: 0.3s;
    opacity: 0;
    width: 0;
}

.game .display .fruit:hover .io {
    width: var(--fruit-of-labour-size);
    opacity: 1;
}

.game .fruit .io .green-line {
    width: 0;
    height: var(--fruit-icon-size);

    flex-grow: 0;
    flex-shrink: 0;

    background: var(--primary-container);
    color: var(--on-primary-container);

    font-size: var(--fruit-icon-size);

    border-radius: 8px;

    transition-duration: 0.3s;
}

.game .display .fruit:hover .io .green-line {
    width: var(--fruit-icon-size);
}

.game .fruit .avatar .labour-forestry {
    filter: invert(19%) sepia(100%) saturate(1392%) hue-rotate(11deg) brightness(96%) contrast(105%);
}
.game .fruit .avatar .labour-farming {
    filter: invert(52%) sepia(96%) saturate(3181%) hue-rotate(69deg) brightness(95%) contrast(101%);
}
.game .fruit .avatar .labour-technical {
    filter: invert(42%) sepia(18%) saturate(6516%) hue-rotate(177deg) brightness(93%) contrast(101%);
}
.game .fruit .avatar .labour-artisan {
    filter: invert(78%) sepia(74%) saturate(3356%) hue-rotate(17deg) brightness(111%) contrast(101%);
}
.game .fruit .avatar .labour-assembly {
    filter: invert(40%) sepia(17%) saturate(9%) hue-rotate(342deg) brightness(98%) contrast(89%);
}